<h1> Edit your plastic information </h1>

<form class="new plastic" action="/plastics/<%= @plastic.id %>" method="post">
  <label for="type"> Plastic type </label>
  <input id="type" type="text" name="type" value="<%=@plastic.type%>">

  <label for="existence"> How long to biodegrate </label>
  <input id="existence" type="text" name="existence" value="<%=@plastic.existence%>">

  <label for="weight"> Weight </label>
  <input id="weight" type="text" name="weight" value="<%=@plastic.weight%>">

  <label for="conversion_factor"> Conversion Factor </label>
  <input id="conversion-factor" type="number" name="conversion_factor" value="<%=@plastic.conversion_factor%>">

  <input type="submit" value="Update entry">
</form>
