<h1> Edit your plastic information </h1>

<form class="new plastic" action="/plastics/<%= @plastic.id %>" method="post">
  <label for="type"> Plastic type </label>
  <input id="type" type="text" name="type" value="<%=@plastic.type%>"></br>

  <label for="existence"> How long to biodegrate </label>
  <input id="existence" type="text" name="existence" value="<%=@plastic.existence%>"></br>

  <label for="weight"> Weight </label>
  <input id="weight" type="text" name="weight" value="<%=@plastic.weight%>"></br>

  <label for="recycable"> Can the plastic be recycled?</label>
  <select id = "recycable" type="checkbox" name="recycable" value="<%=@plastic.recycable%>">
    <option value="true"> Yes </option>
    <option value="false"> No </option>
  <select ></br></br>

  <label for="conversion_factor"> Conversion Factor </label>
  <input id="conversion-factor" type="number" name="conversion_factor" value="<%=@plastic.conversion_factor%>">
</br></br>
  <input type="submit" value="Update entry">
</form>
