<h1> Your plastic details </h1>

<p> Type: <%= @plastic.type %> </p>
<p> Years to biodegrate: <%= @plastic.existence %> </p>
<p> Weight: <%= @plastic.weight %> grams </p>
<p> Conversion Factor: <%= @plastic.conversion_factor %> kgCO2e </p>


<p> <a href="/plastics/<%= @plastic.id %>/edit"> Edit </a></p>

<form action="/plastics/<%= @plastic.id %>/delete" method="post">
  <input type="submit" value="DELETE">
</form>

<p> <a href="/plastics"> Go back to plastics </a></p>
