<div class="bg-imgs_show_plas bg-img__landing"></div>

<h2> Your plastic details </h2> </br>

<table>
  <tr>
    <th> Type: </th>
    <td> <%= @plastic.type %></td>
  </tr>
  <tr>
    <th> Years to biodegrate: </th>
    <td> <%= @plastic.existence %> </td>
  </tr>
  <tr>
    <th> Weight: </th>
    <td> <%= @plastic.weight %> grammes </td>
  </tr>
  <tr>
    <th> Conversio factor: </th>
    <td> <%= @plastic.conversion_factor %> kgCO2e </td>
  </tr>
</table>
</br></br>


<button class="btn"> <a href="/plastics/<%= @plastic.id %>/edit"> Edit </a></button>
<button class="btn"> <a href="/plastics"> Go back to plastics </a></button>
<form action="/plastics/<%= @plastic.id %>/delete" method="post">
  <input type="submit" value="DELETE">
</form>
