<h1> This is your impact page </h1>

<h1> Things that you can view here </h1>

<ul>
  <li> Products summary </li>
  <li> Your oldest product </li>
  <li> Your total footprint </li>
  <li> Your total weight </li>
  <li> Your most popular category </li>
  <li> Your most popular plastic </li>
  <li> How many plastics of your all products were recycable </li>
  <li> How many products of your all plastics were avoidable </li>
</ul>

<h1> Look this month you bought: </h1>
<% for product in @products %>
  <p> <%= product.name %> <% end%> </p> all together that's <%= @products_quantity %>.
  <p> Out of all of them, the following you said you could have avoided. </p>


  <p> You said, that you did not have to buy these itmes. You, won't buy them next time, will you? </p>
  <% for product in @products_avoidable %>
  <p> <%= product.name %> </p>
  <%end%>

  <p> These items were recycable. You totally recycled them, right?</p>
  <% for product in @products_recycable %>
  <p> <%= product.name %> </p>
  <%end%>
  <p> And by the way, don't buy these, they go straight into landfil </p>

<p> Your most popular plastic type was: </p>
<p> Your most popular category was: </p>

<p> Total weight: <%= @products_weight %> </p>
<p> Total carbon footprint: <%= @products_emissions %> tonnes CO2e </p>
