<h1> All your plastic products </h1>
<button class="btn"><a href="/products/new"> Record New </a></button>
<button class="btn"><a href="/"> Go Back </a></button>
</br>
<table>
  <tr>
    <th> Date: </th>
    <th> Name: </th>
    <th> Quantity: </th>
    <th> Plastic type: </th>
    <th> Weight: </th>
    <th> Years: </th>
    <th> Did you have to buy it? </th>
    <th> Category: </th>
    <th> </th>
  </tr>
    <% for product in @products %>
  <tr>
    <td> <%= product.time_stamp %> </td>
    <td> <%= product.name %> </td>
    <td> <%= product.quantity %> </td>
    <td> <%= product.plastic.type %> </td>
    <td> <%= product.plastic.weight%> </td>
    <td> <%= product.plastic.existence %> </td>
    <td> <% if product.avoidability == 't'%>
      Yes <%else%> No <%end%>
    <td> <%= product.tag.category %> </td>
    <td> <a href = "/products/<%= product.id%>"> Show details </td>
  </tr>
    <%end%>
</table> </br>

<% if @filtered == false %>

<table>
  <tr>
    <th> Total quantity: </th>
    <th> Total weight: </th>
    <th> Total carbon footprint: </th>
  </tr>
  <tr>
    <td> <%= @products_quantity %> </td>
    <td>  <%= @products_weight %> grammes </td>
    <td> <%= @products_emissions %> tonnes CO2e </td>
  </tr>
</table> </br>

<p> View transactions by plastic type:</p>

<% for plastic in @plastics %>
<button class="btn"><a href="/products/plastic/<%=plastic.id%>"> <%= plastic.type %> </a></button>
<%end%>

<p>View transactions by tag:</p>

<% for tag in @tags %>
<button class="btn"> <a href = "/products/tag/<%=tag.id%>"> <%= tag.category %> </a> </button>
<%end%>

<p>View transactions by month:</p>

<button class="btn"> <a href="/products/month/<%=product.time_stamp.mon%>"> <%= product.time_stamp.strftime('%b')%> </a></button>

<p> View avoidable transactions <a href="/products/avoid/<%=product.avoidability%>"> </p>

<%end%>
