<h1> All your plastic products </h1> </br>

<table>
  <tr>
    <th> Date: </th>
    <th> Name: </th>
    <th> Quantity: </th>
    <th> Plastic type: </th>
    <th> Weight: </th>
    <th> Years to biodegrate: </th>
    <th> Category: </th>
    <th> </th>
  </tr>
    <% for product in @products %>
  <tr>
    <td> <%= product.time_stamp %> </td>
    <td> <%= product.name %> </td>
    <td> <%= product.quantity %> </td>
    <td> <%= product.plastic.type %> </td>
    <td> <%= product.plastic.weight%> </td>
    <td> <%= product.plastic.existence %> </td>
    <td> <%= product.tag.category %> </td>
    <td> <a href = "/products/<%= product.id%>"> Show details </td>
  </tr>
    <%end%>
</table> </br>


<h2> Your products summary </h2> </br>

<table>
  <tr>
    <th> Total quantity: </th>
    <th> Total weight: </th>
    <th> Total carbon footprint: </th>
  </tr>
  <tr>
    <td> <%= @products_quantity %> </td>
    <td>  <%= @products_weight %> grammes </td>
    <td> <%= @products_emissions %> tonnes CO2e </td>
  </tr>
</table> </br>




<% if @filtered == false %>

<p> View transactions by plastic type:</p>
<% for plastic in @plastics %>
<p> <a href="/products/plastic/<%=product.plastic_id%>"> Plastic: <%= plastic.type %> </a></p>
<%end%>

<p>View transactions by tag:</p>

<% for tag in @tags %>
<p> <a href = "/products/tag/<%=product.tag_id%>"> Tag: <%= tag.category %> </a> </p>
<%end%>

<p>View transactions by month:</p>

<p> <a href="/products/month/<%=product.time_stamp.mon%>" > Month: <%= product.time_stamp.strftime('%b') %> </a> </p>
<%end%>

<p> View avoidable transactions: </p>
<p> <a href="/products/avoid/<%=product.avoidability%>"> 
